apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-service-config
  namespace: togglemaster
data:
  PORT: "8001"
  DATABASE_URL: "postgresql://tm_user:togglemaster123@togglemaster-auth-postgres.c674hxhtj76m.us-east-1.rds.amazonaws.com:5432/togglemaster_auth"
  POSTGRES_USER: "tm_user"
  POSTGRES_DB: "togglemaster_auth"
  POSTGRES_HOST: "togglemaster-auth-postgres.c674hxhtj76m.us-east-1.rds.amazonaws.com"
