apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-service-config
  namespace: togglemaster
data:
  PORT: "8001"
  DATABASE_URL: "postgresql://postgres:tm_pass_26@togglemaster-auth-postgres.c674hxhtj76m.us-east-1.rds.amazonaws.com:5432/auth_db"
  POSTGRES_USER: "postgres"
  POSTGRES_DB: "auth_db"
  POSTGRES_HOST: "togglemaster-auth-postgres.c674hxhtj76m.us-east-1.rds.amazonaws.com"
