apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics-service
  namespace: togglemaster
  labels:
    app: analytics-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: analytics-service
  template:
    metadata:
      labels:
        app: analytics-service
    spec:
      imagePullSecrets:
        - name: ecr-secret
      containers:
        - name: analytics-service
          image: 913430344673.dkr.ecr.us-east-1.amazonaws.com/togglemaster/analytics-service:v1.0.0
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
          ports:
            - containerPort: 8005
          env:
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: analytics-service-config
                  key: PORT
            - name: AWS_SQS_URL
              valueFrom:
                configMapKeyRef:
                  name: analytics-service-config
                  key: AWS_SQS_URL
            - name: AWS_DYNAMODB_TABLE
              valueFrom:
                configMapKeyRef:
                  name: analytics-service-config
                  key: AWS_DYNAMODB_TABLE   
            - name: AWS_REGION
              valueFrom:
                configMapKeyRef:
                  name: analytics-service-config
                  key: AWS_REGION
          readinessProbe:
            httpGet:
              path: /health
              port: 8005
            initialDelaySeconds: 5
            periodSeconds: 10
