apiVersion: v1
kind: ConfigMap
metadata:
  name: flag-service-config
  namespace: togglemaster
data:
  PORT: "8002"
  DATABASE_URL: "postgres://postgres:tm_pass_26@togglemaster-flag-postgres.c674hxhtj76m.us-east-1.rds.amazonaws.com:5432/flag_db"
  POSTGRES_USER: "postgres"
  POSTGRES_DB: "flag_db"
  POSTGRES_HOST: "togglemaster-flag-postgres.c674hxhtj76m.us-east-1.rds.amazonaws.com"
  AUTH_SERVICE_URL: "http://auth-service:8001"
