apiVersion: v1
kind: ConfigMap
metadata:
  name: flag-service-config
  namespace: togglemaster
data:
  PORT: "8002"
  DATABASE_URL: "postgres://tm_user:togglemaster123@togglemaster-flag-postgres.c674hxhtj76m.us-east-1.rds.amazonaws.com:5432/togglemaster_flag"
  POSTGRES_USER: "tm_user"
  POSTGRES_DB: "togglemaster_flag"
  POSTGRES_HOST: "togglemaster-flag-postgres.c674hxhtj76m.us-east-1.rds.amazonaws.com"
  AUTH_SERVICE_URL: "http://auth-service:8001"
