name: Auth Service CI

on:
  push:
    branches: ["main"]
    paths:
      - "Kubernetes/auth-service/**"
      - ".github/workflows/auth-service.yml"

  pull_request:
    branches: ["main"]
    paths:
      - "Kubernetes/auth-service/**"
      - ".github/workflows/auth-service.yml"

  workflow_dispatch:

permissions:
  contents: write

jobs:

# -------------- BUILD & TEST --------------------

  build_test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: Kubernetes/auth-service/auth-service

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22.x"
          cache: true

      - run: go mod tidy
      - run: go build ./...

      - name: Run tests
        run: go test ./... || echo "No tests found"

      - name: Build Docker image
        run: docker build -t auth-service:ci -f Dockerfile .


# ---------------- LINT ----------------
  lint:
    runs-on: ubuntu-latest
    needs: build_test

    defaults:
      run:
        working-directory: Kubernetes/auth-service/auth-service

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22.x"
          cache: true

      - name: Download modules
        run: go mod tidy && go mod download

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          working-directory: Kubernetes/auth-service/auth-service
          args: --timeout=5m ./...

# ---------------- SECURITY ----------------

  security:
    runs-on: ubuntu-latest
    needs: lint

    defaults:
      run:
        working-directory: Kubernetes/auth-service/auth-service

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22.x"
          cache: true

      - name: Download modules
        run: go mod tidy && go mod download

      - name: Install gosec
        run: go install github.com/securego/gosec/v2/cmd/gosec@latest

      - name: Run gosec
        run: gosec -severity high ./...

      - name: Trivy FS Scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          scan-type: fs
          scan-ref: Kubernetes/auth-service/auth-service
          severity: CRITICAL
          exit-code: "0"

# ---------------- PUSH TO ECR ----------------

  push_ecr:
    runs-on: ubuntu-latest
    needs: security
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    
    outputs:
      image_tag: ${{ steps.meta.outputs.tags }}
      short_sha: ${{ steps.vars.outputs.short_sha }}

    defaults:
      run:
        working-directory: Kubernetes/auth-service/auth-service

    steps:
      - uses: actions/checkout@v4

      - name: Set variables
        id: vars
        run: echo "short_sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ steps.login-ecr.outputs.registry }}/togglemaster/auth-service
          tags: |
            type=sha,prefix=,format=short
            type=raw,value=latest

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: Kubernetes/auth-service/auth-service
          file: Kubernetes/auth-service/auth-service/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          
      - name: Scan image with Trivy
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ${{ steps.login-ecr.outputs.registry }}/togglemaster/auth-service:${{ steps.vars.outputs.short_sha }}
          format: 'table'
          exit-code: '0'
          severity: 'CRITICAL,HIGH'


# ---------------- UPDATE GITOPS ----------------

  update_gitops:
    runs-on: ubuntu-latest
    needs: push_ecr
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update image tag in GitOps manifest
        run: |
          NEW_TAG="${{ needs.push_ecr.outputs.short_sha }}"
          REGISTRY="913430344673.dkr.ecr.us-east-1.amazonaws.com"
          
          sed -i "s|image: ${REGISTRY}/togglemaster/auth-service:.*|image: ${REGISTRY}/togglemaster/auth-service:${NEW_TAG}|g" \
            gitops/manifests/auth-service/deployment.yaml
          
          cat gitops/manifests/auth-service/deployment.yaml | grep "image:"

      - name: Commit and push changes
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          
          git add gitops/manifests/auth-service/deployment.yaml
          
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m " Update auth-service image to ${{ needs.push_ecr.outputs.short_sha }}"
            git push
          fi
