name: Evaluation Service CI

on:
  push:
    branches: ["main"]
    paths:
      - "Kubernetes/evaluation-service/**"
      - ".github/workflows/evaluation-service.yml"

  pull_request:
    branches: ["main"]
    paths:
      - "Kubernetes/evaluation-service/**"
      - ".github/workflows/evaluation-service.yml"

env:
  SERVICE_PATH: Kubernetes/evaluation-service/evaluation-service

jobs:

# ----------------------------
# BUILD + TESTE
# ----------------------------
  build_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22.x"
          cache: false

      - name: Go tidy
        working-directory: ${{ env.SERVICE_PATH }}
        run: go mod tidy

      - name: Go download
        working-directory: ${{ env.SERVICE_PATH }}
        run: go mod download

      - name: Build
        working-directory: ${{ env.SERVICE_PATH }}
        run: go build ./...

      - name: Tests
        working-directory: ${{ env.SERVICE_PATH }}
        run: |
          if ls *_test.go >/dev/null 2>&1; then
            go test ./...
          else
            echo "No tests"
          fi

      - name: Docker build (CI check)
        working-directory: ${{ env.SERVICE_PATH }}
        run: docker build -t evaluation-service:ci .

# -----------------------------
# LINT
# -----------------------------
  lint:
    runs-on: ubuntu-latest
    needs: build_test
    defaults:
      run:
        working-directory: ${{ env.SERVICE_PATH }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22.x"
          cache: false

      - name: Go mod tidy
        run: go mod tidy

      - name: Go mod download
        run: go mod download

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.61.0
          args: --timeout=5m ./...
          working-directory: ${{ env.SERVICE_PATH }}
          skip-cache: true

# -----------------------------
# SECURITY
# -----------------------------
  security:
    runs-on: ubuntu-latest
    needs: lint
    defaults:
      run:
        working-directory: ${{ env.SERVICE_PATH }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22.x"
          cache: false

      - name: Go mod tidy and download
        run: go mod tidy && go mod download

      - name: Install gosec
        run: go install github.com/securego/gosec/v2/cmd/gosec@latest

      - name: Run gosec
        run: gosec -severity high ./... || true || true

      - name: Trivy FS Scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          scan-type: fs
          scan-ref: ${{ env.SERVICE_PATH }}
          severity: CRITICAL
          exit-code: "1"
